.pessoa {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /* border: 1px solid #363949; */
    box-shadow: #363949aa 0px 1px 3px;
    border-radius: 10px;
    padding: 5px;
    width: calc(24% - 10px);
    margin-bottom: 10px;
    height: fit-content;
    cursor: pointer;
}

.pessoa h3 {
    width: 100%;
}

.pessoa div {
    width: 90%;
}
.pessoa div:last-child {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    justify-content: space-between;
height: 100%;
    
}
.pessoa div:last-child button {
    padding: 3px;
    width: fit-content;
    
}
.pessoa div:last-child button span{
    font-size: large;
}
#lista-pessoas {
    display: flex;
    max-width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1%;
}
